* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#header {
    font-size: 4vh;
    font-family: fantasy;
    padding: 20px;
}

nav {
    background-color: aquamarine;
    padding: 20px;
}

button {
    background-color: white;
    padding: 5px;
    margin-bottom: 10px;
}

a {
    font-family: Arial;  
}
